[Unit]
Description=Run script after boot

[Service]
Type=oneshot
ExecStart=/home/controller/Submarine_Capstone/ros2_ws/Netplan_Init/netplan_init.sh

[Install]
WantedBy=multi-user.target
