#This service pulls up the shell file which will sit and wait for the other Pi to connect to the ethernet to send data
#Written by Jacob Wildes

[Unit]
Description=Run script after boot

[Service]
Type=oneshot #Take action and exit immediately
ExecStart=/home/controller/Submarine_Capstone/ros2_ws/Netplan_Init/netplan_init.sh
[Install]
WantedBy=multi-user.target
