[Unit]
Description=Run script after boot

[Service]
Type=oneshot
#User=controller
#Environment="DISPLAY=:0"
#Environment="LD_LIBRARY_PATH=/home/controller/Submarine_Capstone/ros2_ws/install/controller_gui/lib:/home/controller/Submarine_Capstone/ros2_ws/install/#controller_publisher/lib:/opt/ros/foxy/lib"
#Environment="PYTHONPATH=/home/controller/Submarine_Capstone/ros2_ws/install/controller_gui/lib/python3.8/site-packages:/home/controller/Submarine_Capstone/ros2_ws/install/controller_publisher/lib/python3.8/site-packages:/opt/ros/foxy/lib/python3.8/site-packages"
#Environment="AMENT_PREFIX_PATH=/home/controller/Submarine_Capstone/ros2_ws/install/setup.bash:/opt/ros/foxy"
#Environment="HOME=root"
ExecStart=/home/controller/Submarine_Capstone/ros2_ws/Netplan_Init/netplan_init.sh
[Install]
WantedBy=multi-user.target
